*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}


.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	background-color: #241C16;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
.blocks{
	font-size: 45px;
	width: 100%;
	background-color: red;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}
dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 1rem;
}
a{
	color:white;
}
a:hover{
	color: #CA5504;
}
/* ---------top-row ---------*/
.wrapper {
	min-height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding-top: 1px;
}
.header{
	background-image: url(../img/rocks.png);
	background-size: cover;
	background-position: center;
	max-height: 100vh;
	  box-shadow: 4px 9px 35px 0 rgba(27, 20, 13, 0.68);
  background-color: rgba(48, 34, 23, 0.83);
}
.container{
	max-width: 1180px;
	margin: 0px auto;
}
.top_row {
	height: 100%;
	max-width: 1200px;
	border-bottom: 1px solid rgba(200, 242, 250, 0.6);
}
.top_row_items {
	  display: flex;
  flex-direction: row;
 justify-content: space-around;
  height: 90px;
  border-bottom: 2px solid black s;
}
.top_row_left {
		display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-self: center;
	margin-left: 40px;

}
.top_row_right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-self: center;
  font-size: 18px;
  line-height: 1;
  color: #f3d4b9;
}
.top_row_right a{
	padding-right: 1.2em;
	text-decoration: none;
	transition: all .7s ease;
	position: relative;
	font-family: RobotoCondensedLight;
	color: #F3D4B9;

}
.top_row_right a:hover{
	color: #24bddc;
	transition: all .7s ease;
	
}
.top_row_right a:hover::after{
	position: absolute;
	content: '';
	bottom: -10px;
	left: 0px;
	border-bottom: 1px solid #24bddc;
	width: 80%;
	height: 100%;
}
.header_middle {
	padding-top: 20px;
	padding-bottom: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.header_center_row{
	margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 1000px;
width: 90%;
color: white;
border-left: 1px solid #F3D4B9;
border-right: 1px solid #F3D4B9;
}
.header_center_row h2{
	margin-top: -4em;
	font-size: 40px;
color: #F3D4B9;
	font-family: RobotoCondensedLight;
	padding-bottom: 1em;
}
.header_center_row h1,
.header_center_row h3
{
font-family: RobotoCondensedBold;
font-size: 3em;
color: #32B6B2;
word-spacing: 10px;
letter-spacing: 2px;
padding-bottom: .2em;
}
.header_center_row h3{
	padding-bottom: .3em;
	border-bottom: 1px solid #32B6B2;
}
.header_center_row p{
	position: relative;
	text-transform: uppercase;
	font-size: 24px;
line-height: 32px;
text-align: center;
letter-spacing: 0.02em;
font-feature-settings: 'pnum' on, 'lnum' on;
font-family: RobotoCondensedLight;
color: #F3D4B9;
}
.header_center_row .first{
	margin-top: 1em;
}
.header_center_row .first:before{
position: absolute;
content: '';
left: -40px;
width: 30px;
top: 17px;
height: 2px;
background-color: #F3D4B9;
}
.header_center_row .first:after{
position: absolute;
content: '';
right:-40px;
width: 30px;
top: 17px;
height: 2px;
background-color: #F3D4B9;
}

/*   font-family: Roboto;
  font-size: 36px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.08px;
  color: #f3d4b9; */
