*::-webkit-input-placeholder {
		color: #666;
		opacity: 1;
}
*:-moz-placeholder {
		color: #666;
		opacity: 1;
}
*::-moz-placeholder {
		color: #666;
		opacity: 1;
}
*:-ms-input-placeholder {
		color: #666;
		opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}

.img-responsive {
		display: block;
		max-width: 100%;
		height: auto;
}

body {
		font-size: 16px;
		min-width: 320px;
		position: relative;
		line-height: 1.6;
		font-family: "RobotoRegular", sans-serif;
		overflow-x: hidden;
}
.hidden {
		display: none;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
		display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
		margin-top: 0;
		margin-bottom: 0;
}

p {
		margin-top: 0;
		margin-bottom: 1rem;
}
dl,
ol,
ul {
		margin-top: 0;
		margin-bottom: 1rem;
}
a{
		color:white;
}
a:hover{
		color: #CA5504;
}

.top_row_right {
	font-family:RobotoCondensedRegular;
}
.header_center_row{
	font-family:RobotoCondensedRegular;
}







