*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
}
ul{
	list-style-type: none;
}
html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	overflow-x:hidden;
  font-family: RalewayRegular, sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
/*	background-attachment: fixed;*/
  background-image: url(../img/mramor.2.jpg);

}
/*.main{
	-webkit-box-shadow: 2px 1px 30px 0px rgba(0,0,0,0.63);
-moz-box-shadow: 2px 1px 30px 0px rgba(0,0,0,0.63);
box-shadow: 2px 1px 30px 0px rgba(0,0,0,0.63);
}*/
.hidden {
	display: none;
}
.glyphicon{
	margin-right: 10px;
}
.container.slogan {
background-color: #3f3c39;
color: #fff;
line-height: 20px;
padding: 5px 0 0 0;
}
.container.slogan p{
	padding: 5px 0 0 10px;
}
.container.slogan ul li{
	display: inline-block;
	position: relative;
}
.container.slogan ul li a{
	display: block;
	padding: 5px 10px 5px 10px;
	font-size: 12px;
	border: 1px solid #9a9281;
	border-radius: 15px;
	color: #9a9281;
	transition: all .3s ease;

}
.container.slogan ul li a:hover{
	text-decoration: none;
		color: #FDFAEE;
			border:1px solid #FDFAEE;
}
.header .container {
    background-color: #fdfaee;
}
.flat-logo a{
	display: block;
	margin: 20px 10px 0;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.4em;
	position: relative;
	padding-left: 25px;
	color: #484642;
}
.flat-logo a:hover{
	text-decoration: none;
}
.flat-logo a:after{
	position: absolute;
	content: "";
	background-image: url("../img/logo.png");
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	top: 5px;
	left: 0;
}
.phon ul li:after {
    position: absolute;
    content: "";
    background-image: url("../img/phone_block.png");
    display: block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    top: -2px;
    left: 0px;    
}
.email:after{
    position: absolute;
    content: "";
    background-image: url("../img/email_block.png");
    display: block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    top: -2px;
    left: 25px;  
}
.phon ul{

	text-align: center;
}
.phon li{
    position: relative;
    margin-bottom: 0px;
    line-height: 1.6em;
    text-align: center;
}
.phon span {
    color: #6a979b;
}
.phon {
    color: #9a9281;
    font-size: 14px;
    margin: 10px 0;
    padding-left: 15px;    
}
.email {
    position: relative;
    color: #9a9281;
    font-size: 14px;
    margin: 20px 0 0;
    padding-left: 60px;

}
.navbar-inverse {
	margin-bottom: 0px;
}
.nav-header .navbar-inverse {
	padding-left: 10%;
}
.nav-header .container {
	padding-left: 0;
	padding-right: 0;
	background-color:#9A9281;
	position: relative;
	
}
.nav-header .container:after{
	position: absolute;
	content: "";
	background-image:url("../img/welc_shadow.png");
	left: 0;
	width: 100%;
	height: 30px;
	z-index: 10;

}
.navbar-inverse {
	background-color:transparent;
	border: none;
	border-radius:0;
	color: #000;

}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
	margin: 0 auto;
}
.navbar-collapse .navbar-nav{
	
}
.navbar-inverse li a{
	color: #000;
	transition: all .5s ease;
	display:block;
	text-align: center;	
}
.navbar-inverse .navbar-nav > li > a {
	color: #000;
	font-size: 12px;
	font-family:RalewayRegular, sans-serif;
	text-transform: uppercase;
	position: relative;
	z-index: 8;
	font-weight: 500;
	padding-right: 30px;
	padding-left: 30px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #FDFAEE;
    color: #000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
	color: #000;
	transition: all .5s ease;

}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
		background-color: #FDFAEE;
		color: #000;
}
.navbar-inverse .navbar-nav > li > a:active, .navbar-inverse .navbar-nav > li > a:focus{
		background-color: #FDFAEE;
		color: #000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{
		background-color: #000;
		color: #fff;
}
/*carusel*/
.main-carusel .container {
	padding-left: 0;
	padding-right: 0;

}
.main-carusel .container .carousel-custom{
		-webkit-box-shadow: 0px 6px 12px -6px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 6px 12px -6px rgba(0,0,0,0.7);
box-shadow: 0px 6px 12px -6px rgba(0,0,0,0.7);
}
.main-information .container {
	background-color: #FDFAEE;
	padding-top: 25px;
}
.main-information .container .thumbnail img{
	border:1px solid #9A9281;
}
.main-information .container .thumbnail h3{
	margin-bottom: 10px;
}
.main-information .container .thumbnail p{
	font-size: 14px;
}
.main-information .container .thumbnail a{
	padding:8px 10px;
background-color:#9A9281;
transition: all .5s ease;
font-size: 13px;
text-transform: uppercase;
color: #3f3c39;
text-align: center;
color: #000;
margin-bottom: 15px;
margin-top: 30px;
display: block;
position: relative;
bottom: 5px;
}
.main-information .container .thumbnail a:hover{
		background-color:#6A979B;
		color: #fff;
		text-decoration: none;
		-webkit-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 3px 7px 0px rgba(0,0,0,0.75);
}
.main-information .container .thumbnail{
	background-color: transparent;
	border: 0;
	transition: all .5s ease;
	max-height: 720px;
	width: 100%;
	overflow: hidden;
	}
.main-information .container{
	padding-right: 25px;
	padding-left: 25px;
}
.main-information .container .thumbnail:hover{
-webkit-box-shadow: 2px 2px 3px 2px #76785E;
box-shadow: 2px 2px 3px 2px #76785E;
	background-color:#FEFDF9;
	cursor: pointer;
}
.well.well-lg p,
.well.well-lg a
{
	display: inline-block;
}
.well.well-lg p{
	color: #fff;
	font-size: 22px;
	text-transform: none;
	font-family: Verdana,sans-serif;
}
.well.well-lg a {
padding:15px 30px;
margin-left: 1em;
background-color:#FDFAEE;
transition: all .5s ease;
font-size: 15px;
text-transform: uppercase;
color: #3f3c39;
text-align: center;
}
.well.well-lg a:hover{
	background-color: #6A979B;
	-webkit-box-shadow:inset 2px 1px 3px 2px #00535C;
box-shadow:inset 2px 1px 3px 2px #00535C;
	color: #fff;
	text-decoration: none;
}

.well.well-lg {
	position: relative;
	margin: 10px;
	margin-bottom: 40px;
-webkit-box-shadow:inset 14px 0 10px -10px #000;
box-shadow:inset 14px 0 10px -10px #000;
	border-radius: 0;
background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#99845b+0,997f4c+18,997f4c+43&1+3,0.42+19,1+39 */
background: -moz-linear-gradient(left,  rgba(153,132,91,1) 0%, rgba(153,131,89,1) 3%, rgba(153,127,76,0.46) 18%, rgba(153,127,76,0.42) 19%, rgba(153,127,76,1) 39%, rgba(153,127,76,1) 43%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(153,132,91,1) 0%,rgba(153,131,89,1) 3%,rgba(153,127,76,0.46) 18%,rgba(153,127,76,0.42) 19%,rgba(153,127,76,1) 39%,rgba(153,127,76,1) 43%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(153,132,91,1) 0%,rgba(153,131,89,1) 3%,rgba(153,127,76,0.46) 18%,rgba(153,127,76,0.42) 19%,rgba(153,127,76,1) 39%,rgba(153,127,76,1) 43%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99845b', endColorstr='#997f4c',GradientType=1 ); /* IE6-9 */
;	
}
.well.well-lg:after{
	position: absolute;
	content: "";
	background-image:url("../img/welc_shadow.png");
	bottom: -30px;
	left: 0;
	width: 100%;
	height: 30px;
	z-index: 10;
}
/*После выставки*/
.section-inform{
	padding: 10px;
/*	margin: 40px 0 50px;*/
color: #3F3A31;
font-weight: 500;
font-size: 1em;
letter-spacing: 1.2pt;
line-height: 1.9;

}
.last-works .container{
background-color:#FDFAEE;
padding: 25px 20px;
}
.last-works .container h2{
	text-transform: uppercase;
	margin: 10px 0 30px;
	font-size: 1.3em;
	text-align: center;
	padding: 10px 0;
background: rgb(253,250,238); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(253,250,238,1) 0%, rgba(178,158,116,1) 28%, rgba(178,158,116,1) 50%, rgba(178,158,116,1) 74%, rgba(253,250,238,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(253,250,238,1) 0%,rgba(178,158,116,1) 28%,rgba(178,158,116,1) 50%,rgba(178,158,116,1) 74%,rgba(253,250,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(253,250,238,1) 0%,rgba(178,158,116,1) 28%,rgba(178,158,116,1) 50%,rgba(178,158,116,1) 74%,rgba(253,250,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfaee', endColorstr='#fdfaee',GradientType=1 ); /* IE6-9 */

}

.footer .container{
	background-color: #3f3c39 ;
	color: #9a9281;
}
.footer .container h3{
	position: relative;
	padding-bottom: 15px;
	color: #d7d6d4;
	font-size: 1.4em;
}
.footer .container h4{
	text-align: center;
	margin: 30px 0;
	font-size: 1.2em;
}
.footer .container h3:after{
 	position: absolute;
	content: "";
	height: 1px;
	background-color: #997F4C;
	bottom:0;
	left: 0;
	width: 100%;
	opacity: .6;
}
.footer .container .slogan{
color:#638A8E;
display: block;
position: relative;
font-size: 1.7em;
padding: 9px 30px 5px;
margin-bottom: 30px;
}
.footer .container a:hover{
	text-decoration: none;
}
.slogan img{
	width: 25px;
	position: relative;
	top: -5px;
}
.footer .container a:after{
	position: absolute;
	content: "";
	height: 1px;
	background-color: #997F4C;
	bottom:0;
	left: 0;
	width: 100%;
	opacity: .6;
}
.footer ul .glyphicon{
	color: #fff;
}
.footer .container .footer-schedule{
	font-size: 15px;
	transition: all .3s ease;
	margin-top: 15px;
}
.footer .container .footer-schedule:hover{
color: #eceaea;
cursor: pointer;

}
.footer-bottom{
	margin-bottom: -40px;
}
.footer-bottom .wrap .container{
	background-color: #302e2b;
	padding: 15px 0 15px 15px;
	color: #9a9281;	
	font-size: 14px;
}
.footer-bottom .wrap .container a{
	color: #6a979b;
	text-decoration: none;
}
.forms{
	background-color: #3F3C39;
	padding:0 40px 25px;
	color: #a4a1a1;
	font-size: 1em;
	}

	.forms p{
		margin-bottom: 10px;
		line-height: 1.1em;		
	}
.forms h3{
	color:#c5c5c5;
	position: relative;
	padding-bottom: 15px;
}	
.forms h3:after{
	position: absolute;
	content: "";
	height: 1px;
	background-color: #997F4C;
	bottom:0;
	left: 0;
	width: 100%;
}
label{
	margin-bottom: 7px;
	font-weight: normal;
	width: 100%;
}
.forms label span{
	color: #dddbdb;
	display: block;
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 1em;
}
.forms input,
textarea{
	display: block;
	width: 100%;
	border:none;
	box-shadow: 0 -3px  #201f1f;
	background-color: #595449;
	text-indent: 12px;
	padding:5px 0;
	transition: all .5s ease;
	color: #7A8877;
	font-size: .9em;
}
.forms input:focus,
.forms textarea:focus{
	box-shadow: 0 -5px  #FDFAEE;
}
.button-wrap .buttons{
	background-color: #FDFAEE;
	padding: 5px 10px;
	display: block;
	text-align: center;
	color: #000;
	margin: 10px auto 0;
	border-radius: 2px;
	border: none;
	font-size: 14px;
	text-transform: uppercase;
	transition: all .4s ease;
}
.button-wrap .buttons:hover{
	-webkit-box-shadow:inset 1px 2px 3px 0 #000;
box-shadow:inset 1px 2px 3px 0 #000;
background-color: #6A979B;
}


/* Основные стили */
a {
    text-decoration: none;
}
.mainohe {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.view {
    width: 320px;
    height: 215px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: all .6s ease;

}
.view:hover{
	-webkit-box-shadow: 0 2px 5px 0 #000;
box-shadow: 0 2px 5px 0 #000;
}
.view .mask,
.view .content {
    width: 320px;
    height: 190px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
.mainohe .view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 5px;
    background: #997F4C;
}
.view p {
    font-family: Verdana;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 3px;
    text-align: center;
}
.view a.info {
    display: inline-block;
    padding:7px 10px;
    position: relative;
    bottom: -100px;
background-color:#FDFAEE;
transition: all .5s ease;
font-size: 12px;
text-transform: uppercase;
color: #3f3c39;
text-align: center;
border-radius: 2px;
}
.view a.info:hover {
    background-color: #6A979B;
	-webkit-box-shadow:inset 1px 0 2px 2px #00535C;
box-shadow:inset 1px 0 2px 2px #00535C;
	color: #fff;
	text-decoration: none;
}
.view-first img {
    -webkit-transition: all .2s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear;
}
.view-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.mainohe .view-first h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 10px 0 5px;
    -webkit-box-shadow:inset 0 2px 2px -3px #000;
box-shadow:inset 0 2px 2px -3px #000;
}
.view-first p {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
    color: #333;
    margin-bottom: 10px;
}
.view-first:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.view-first:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.view-first:hover p {
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -o-transition-delay: .1s;
    -ms-transition-delay: .1s;
    transition-delay: .1s;
    padding-top: 5px;
}
/*Стили cards*/
.main-information .container .section-head h2, h3
{
	position: relative;
	text-align: center;
	margin-bottom: 30px;
}
.main-information .container .section-head h2 span{
	color: #638A8E;
}
.main-information .container .section-head p  span{
	color: #638A8E;
}
.main-information .container .section-head h2::after {
      position: absolute;
      opacity: .7;
      content: '';
      height: 2px;
      background-color: #F39F18;
      width: 450px;
      display: block;
      top: 45px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      -webkit-border-radius: 10em;
      border-radius: 10em;
    }

    .main-information .container .section-head h3::after{
			position: absolute;
      opacity: .7;
      content: '';
      height: 2px;
      background-color: #F39F18;
      width: 350px;
      display: block;
      top: 45px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      -webkit-border-radius: 10em;
      border-radius: 10em;
    }
  .cards,
  .teams {
    text-align: center;
    -webkit-perspective: 600px;
    perspective: 600px
  }
  .cards .card-on,
  .teams .card-on {
    opacity: 1;
  }
  .card {
    width: 250px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: inline-block;
    background-color:#3F3C39;
    margin: 0 100px 30px;
    color: #fff;
    font-size:.9375em;
    line-height:  1.3125em;
    padding: 30px 30px 25px;
    vertical-align: top;
    border-bottom:#D2C5A8 4px solid ;
  }
   .section-pb .container .cards .card{
 	margin: 0 30px 30px;
 }
   .card h4{
   	padding-top: 15px;
   }
  .cards .card:hover,
  .teams .card:hover,
  .teams .team:hover {
    border-color:#f39f18 ;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
  }
  .cards .card p,
  .teams .card p,
  .teams .team p {
    margin-bottom: 0;
    margin-top: 0;
    height: 75px;
  }
  .cards .card .card-icon,
  .teams .card .card-icon,
  .teams .team .card-icon {
   width: 120px;
   height: 120px;
   line-height: 120px;
   background-color:#f39f18 ;/*#2C3949*/
   -webkit-border-radius: 10em;
   border-radius: 10em;
   display: inline-block;
   -webkit-transition: all 1.2s ease;
   transition: all 1.2s ease;

 }
 .cards .card .card-icon img,
    .teams .card .card-icon img,
    .teams .team .card-icon img {
      width: 75px;
      margin-top: 0px;
    }
    .card .card-icon.last img{
      margin-top: 0px;
      width: 75px;
    }
    .card .card-icon.first img{
      margin-top: 0px;
      width: 60px;
    }

    .cards .card:hover .img-wrap,
    .teams .card:hover .img-wrap,
    .teams .team:hover .img-wrap {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    .cards .card .img-wrap,
    .teams .card .img-wrap,
    .teams .team .img-wrap {
      -webkit-transition: all .25s ease;
      transition: all .25s ease;
    }
   .sections-cards .cards .img-wrap img{
   	width: 100%;
   } 

    /*about*/

.main-information section .container{
	padding: 0;
}
    section .container{
    	padding: 0;
    	border-top: 4px white groove ;
    	margin-bottom: -7px;
    }

.main-work .office{
    padding-left: 95px;

  }
.container .main-work .office  li::before{
	border-bottom: 6px solid transparent;
border-left: 6px solid #f39f18;
border-top: 6px solid transparent;
content: "";
display: block;
height: 0;
left: -16px;
position: relative;
top: 18px;
width: 0;
}
.container .article span{
	color: #638A8E;
	font-weight: 700;
}
.container .main-work .office  li{
	transition: all .5s ease;
	padding-left: 50px;
	padding-bottom: 10px;
}
.container .main-work .office  li:hover{
background-color: #544331;
cursor: pointer;
color: #fff;
}
.main-kamin h3{
	text-align: center;
	position: relative;
}
.main-kamin h3:after{
position: absolute;
      opacity: .7;
      content: '';
      height: 2px;
      background-color: #F39F18;
      width: 550px;
      display: block;
      top: 35px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      -webkit-border-radius: 10em;
      border-radius: 10em;
}	
}
.main-exhibition h3:after{
	position: absolute;
      opacity: .7;
      content: '';
      height: 2px;
      background-color: #F39F18;
      width: 550px;
      display: block;
      top: 65px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      -webkit-border-radius: 10em;
      border-radius: 10em;
}
.main-exhibition h4{
	text-align: center;
}
.main-exhibition li{
		transition: all .5s ease;
	padding-left: 50px;
	padding-bottom: 10px;
}
.main-exhibition li:hover{
	background-color: #544331;
cursor: pointer;
color: #fff;
}
.main-exhibition li:before{
	border-bottom: 6px solid transparent;
border-left: 6px solid #f39f18;
border-top: 6px solid transparent;
content: "";
display: block;
height: 0;
left: -16px;
position: relative;
top: 18px;
width: 0;
}



.views:hover{
	-webkit-box-shadow: 0 2px 5px 0 #000;
box-shadow: 0 2px 5px 0 #000;
}
.views .mask,
.views .content {
    width: 285px;
    height: 190px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.views img {
    display: block;
    position: relative;
}
/*выставка*/
.views {
    width: 285px;
    height: 250px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: all .6s ease;
    margin: 0 auto;
}
.mainohe .views h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 5px;
    background: #997F4C;
}
.views p {
    font-family: Verdana;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 3px;
    text-align: center;
}
.views a.info {
    display: inline-block;
    padding:7px 10px;
    position: relative;
    bottom: -100px;
background-color:#FDFAEE;
transition: all .5s ease;
font-size: 15px;
text-transform: uppercase;
color: #3f3c39;
text-align: center;
border-radius: 2px;
}
.views a.info:hover {
    background-color: #6A979B;
	-webkit-box-shadow:inset 1px 0 2px 2px #00535C;
box-shadow:inset 1px 0 2px 2px #00535C;
	color: #fff;
	text-decoration: none;
}
.main-information .main-exhibition h2 span{
	font-size: 30px;
}
.main-exhibition span{
	font-size: 17px;
	color: #638A84;
}
.main-exhibition h5{
	font-size: 17px;
	font-weight: bold;
	color: #638A84;
}
.main-kamin p{
	padding-left:45px;
	padding-right: 15px;
}

.hovergallery{

  margin: 10px auto;
padding: 45px 15px 50px 5px;
position: relative;
z-index: 4;

}
.hovergallery img{
	border: 4px solid white;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 6px double #9A9281;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.5) , 1px 1px 1px 1px rgba(0,0,0,0.4) ;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.5) , 1px 1px 1px 1px rgba(0,0,0,0.4) ;
  -webkit-transform:scale(0.8); /*Webkit: уменьшаем размер до 0.8*/
  -moz-transform:scale(0.8); /*Mozilla: масштабирование*/
  -o-transform:scale(0.8); /*Opera: масштабирование*/
  -webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
  -moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
  -o-transition-duration: 0.5s; /*Opera: длительность анимации*/
  margin: 0 auto; /*Интервалы между изображениями*/
}
.hovergallery img:hover{
  -webkit-transform:scale(1.1); /*Webkit: увеличиваем размер до 1.2x*/
  -moz-transform:scale(1.1); /*Mozilla: масштабирование*/
  -o-transform:scale(1.1); /*Opera: масштабирование*/
  /*box-shadow:0px 0px 5px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
 /* -webkit-box-shadow:0px 0px 5px gray; /*Webkit: тени*/
/*  -moz-box-shadow:0px 0px 5px gray;*/ /*Mozilla: тени*/
  opacity: 1;z-index:4;
} 
.hovergallery_word {
  text-align: center;
  position: relative;
  animation-delay: 0.5s;
}
.main-kamin .main-kamin-left{
	float: left;
	height: auto;
}
.main-kamin .main-kamin-right{
	float: right;
	width: 350px;
}
.main-kamin .first-child {
	margin-top: 80px;
}
