*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}

.hidden {
	display: none;
}

.header {
	position: relative;
	padding-top: 1px;
	background-repeat: no-repeat;
	background-image: cover;
	background-position: center top;
	height: 558px;
	width: 100%;
	overflow: hidden;
}
.header::before{
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #272822;
	opacity:.7;
	overflow: hidden;

}
.center_slogan{
	margin: 0 auto;
}
.wrapper_slogan {
	margin-top: 16%;
}
.slogan {
	margin: 0 auto 30px;
	margin-left: 27%;
	font-size: 45px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #FFBB40;
	display: inline-block;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding-bottom: 10px;
	padding-top: 10px;

}
.center_slogan a{
	
	display: block;
	margin: 0 auto;
	width: 270px;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	text-align: center;
	letter-spacing: normal;
	color: #fff;
}

.center_slogan a.btn:hover{
	text-decoration: none;
	color:#FFCD73;
}
.btn {
	padding: 10px 20px;
	font-size: 18px;
	line-height: 1.4;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	border: 1px solid #FFCD73;
	border-radius: 6px;
}
.btn-primary {
	color: #fff;
}

