*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}

body input:required:valid,
body textarea:required:valid {

}

.img-responsive {
    display: block;
    /*    width: 200px;*/
    max-width: 100%;
    height: auto;
}


html.js .loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

html.js .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

body {
    box-sizing: border-box;
    font-family: RalewayRegular;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    overflow-x: hidden;
    background-image: url(../img/gardenfon.png);

}

.hidden {
    display: none;
}

.header {

}

header {
    background-color: #074E03;
}

/*Стили верхнего хедера*/
.top-menu {
    position: relative;
    box-sizing: border-box;
    background-color: #0ea206;
    margin-right: 0;
}

ul.menu-nav {
    margin: 10px auto;

}

.menu-nav li {
    position: relative;
    display: inline-block;
    padding: 5px 15px;

}

.menu-nav li a {
    text-align: center;
    font-size: 15px;
    text-align: center;
    color: #D9F3D6;
    opacity: .7;
    position: relative;
    transition: all .5s ease;
}

.menu-nav a:hover {
    text-decoration: none;
    color: #fff;
    opacity: 1;
}

.logo-left {
    position: relative;
}

.menu-nav {
    margin-bottom: 0rem;
}

.logo-left img {
    position: absolute;
    top: 5px;
    left: 2em;
    display: block;
    max-width: 100%;
    height: 70px;
    padding: 15px;
    border-radius: 44px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}

.menu-nav .hover-fas {
    padding-right: 1em;
    /*display: none;*/
    /*    opacity: 0;*/
}

/*section.header*/
.line {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header {
    width: 100%;
    height: 100%;
    padding: 50px 30px;

    border: 1px solid #0ea206;
    border-radius: 35px;
}

section.one {
    position: relative;
    z-index: 3;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid #714135;
}

section.one::before {
    content: '';
    position: absolute;
    background-color: #D1EE9CB8;
    width: 100%;
    height: 100%;
    opacity: .55;
    z-index: -3;
}

.logo-garden {
    font-size: 24px;
    color: #f3e3e3;
    text-transform: uppercase;
    font-family: RalewayRegular;
   }
.logo-garden:hover{
    text-decoration: none;
    color: #f3e3e3;
}

.logo-garden span {
    font-family: RalewayRegular;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #bff6b1;

}

.slogan {
    text-align: center;
    font-size: 25px;
    position: relative;
    margin-top: 30px;
    color: #fff;
}

.slogan::after {
    position: absolute;
    bottom: -40px;
    left: 3px;
    content: '';
    border: 1px solid #712E30;
    width: 100%;
    opacity: .5;

}

.slogan {
    color: #155605;
}

.slogan span {
    font-family: RalewayRegular;
    color: #712E30;
}

.slogan-text {

    color: #e1eee0;


}

.text-slogan {
    background-color: #074e03;
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: .7;
    border-radius: 35px;
}

.text-slogan li {
    list-style: none;
    position: relative;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 50px;
    font-family: RalewayRegular;
}

.text-slogan li:last-child {
    padding-bottom: 0px;
}

.text-slogan li .fas {
    position: absolute;
    top: 4px;
    left: 3px;
    color: #c5d7c1;
}

/*section price and carts*/
.price-all {
    padding: 30px 10px;
}

.price {
    margin: 0 auto;
    font-size: 16px;

}

.price a {
    color: #714135;
    font-family: RalewayBold;

    padding-left: 15px;
    position: relative;
}

.fa-file-word {
    color: #714135;
    position: absolute;
    left: -10px;

    font-size: 20px;
}

.text-price {
    color: #2A6A17;
    text-align: center;
    font-family: RalewayRegular;
    border-radius: 13px;
    border: solid 1px #37b530;
    padding-top: 10px;

}
section .information-text{
    padding-top: 2.5em;
}
.text-price span {
    color: #2A6A17;
    font-family: RalewayBold;

}
.card{
 transition: all .7s ease;
 border-radius: 23px;
}
.card:hover{
    cursor: pointer;
    box-shadow:inset 0 0 5px #000000;
}
.card .btn-primary{
    border-color: #0EA206;
    color: #fff;
    background-color: #0EA206;
    border-radius: 23px;
    width: 100%;

    transition: all .8s ease;
}
.card .btn-primary:hover{
    background-color: #A60000;
    border-color: #A60000;
    box-shadow:inset 0 0 15px #000000;

}
.fas-margin{
    margin-left: 1em;
}
.information-text{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #141614;
    text-align: center;
    border-bottom: 2px solid #37B530;
    padding-bottom: 10px;
}
.card-img-top{
    width: 80%;
    margin: 0 auto;
    padding-top: 1em;
}
.card-title{
    text-align: center;
    font-size: 1.5em;
}
section.four{
    padding-bottom: 4em;
}

.top-block{
    border-bottom: 2px solid #37B530;
    margin-bottom: 2em;
    margin-top: 2em;
}
footer{
    background-color: #074E03;
    color:#F8F2F2;
    padding-top: 2em;
    padding-bottom: 2em;
}
.footer{
    position: relative;
}

.logo-left-footer {
    position: relative;
}
.logos-footer img{
    position: absolute;
    top: -98px;
    left: 42%;
    height: 106px;
}

.logo-left-footer img {
    position: absolute;
    top: -15px;
    left: 2em;
    display: block;
    max-width: 100%;
    height: 90px;
    padding: 15px;
    border-radius: 44px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}
.logo-footer{
    list-style: none;
    padding-left: 3px;
}
.logo-footer a{
    text-decoration: none;
}
.logo-garden-footer {
    font-size: 24px;
    color: #e5d1d1;
    text-transform: uppercase;
    font-family: RalewayBold;
    text-align: center;
    margin-bottom: -5px;
}

.logo-maxpro-footer {
    font-family: RalewayRegular;
    text-transform: uppercase;
    font-size: 18px;
    color: #c0edb5;
    border: 1px solid;
    border-color: #c0edb5;
    border-radius: 23px;
    padding: 4px 2px;
    text-align: center;

}
.footer-category ol{
    padding-left: 15px;
}
.footer-category h3{
    color: #F6EEEE;
    font-size: 1.6em;
    border-bottom: 1px solid #F6EEEE;
    width: 50%;
    text-align: center;
}
.footer-contact ul{
    padding-left: 10px;
}
.footer-contact h3{
    text-align: center;
    color: #F6EEEE;
    font-size: 1.6em;
    border-bottom: 1px solid #F6EEEE;
    width: 50%;
}
.footer-contacts{
    list-style: none;

}
.footer-contacts li span{
 color:#9FD195;
}
.footer-contacts .fas-footer{
    color:#9FD195;
}
.mail a{
    text-decoration: none;
    padding-left: 1em;
    color:#fff;
}
.mail a:hover{
    color: #92C689;
}
.top {
  height: 36px;
  background-color:#1A1A1A;
  background-image: url("../img/top.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.bottom-footer{
    background-color: #000000;

}
.bottom-footer h4 a{
 font-size: .6em;
 color:#CAF8C8;
 text-decoration: none;
 opacity: .8;
 text-align: center;
 margin: 0 auto;
}
/* Section about*/

section.about{
    margin-bottom: 3em;

}
.about-background{

}
.about-info{
    margin-top: 2em;
    padding: 10px;
    padding-top: 2em;
    border: 1px solid #518C4D;
    border-radius: 48px;
    margin-right: 1em;
}
.about-photo{
overflow: hidden;
margin: 0 auto;
}
.about-info h3{
    font-size: 1.4em;
    border-bottom: 1px solid #518C4D;
    text-align: center;
}
.advantages-position h3{
    padding-bottom: 1em;
    text-align: center;
    border-bottom:1px solid #518C4D;
}

.delivery{
    padding: 2em .3em;
}
.delivery-text p{
    text-align: center;
}
.delivery-text h4,
.adress-clients,
.adress-text-my,
.advantages-position h3,
.delivery-package h4{
    color: #074E03;
    padding-bottom: 1em;
    text-align: center;
    border-bottom:1px solid #518C4D;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom: 2em;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.fa-truck,
.fa-people-carry,
.fa-home,
.fa-phone-square-alt,
.fa-user-tie,
.fa-handshake{
    color: #074E03;
    padding-right: 1em;
}

/*contact html  style*/

section.adress{
    margin-top: 2em;
    margin-bottom: 2em;
}
.forms {
    width: 60%;
  background-color: #ecedec00;
  border-bottom: 4px solid #1a222b;
  color: #97a4b2;
  font-size: 0.875em;
  padding: 35px 35px 15px;
  font-family: RalewayRegular, sans-serif;
  border:3px solid #074e03;
  margin: 3em auto;

}
.forms h4 {
  color: #000;
  font-size: 2.0625em;
  margin: 0;
  text-transform: none;


}
.forms p {
     color: #000;
  font-size: 1.2em;
  line-height: 1.4375em;
  margin-top: 10px;
  font-family: RalewayRegular, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
  max-width: 100%;
  font-family: RalewayRegular, sans-serif;
}
.forms label span {
  color: #000;
  display: block;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  font-family: RalewayRegular, sans-serif;
}
.forms input {
  display: block;
  width: 100%;
  border: none;
  box-shadow: 0 -3px #10340a;
  background-color: #c2c8c1;
  text-indent: 10px;
  padding: 10px 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: #fff;
  font-size: 1.25em;
}
.buttons,
.buttons:active,
.buttons:focus,
.buttons:hover {
  color: #111;
  text-decoration: none;
}
.forms input:focus {
  box-shadow: 0 -4px #A60000;
  background-color: #91b08b;
}
.forms .buttons {
  margin-top: 15px;
}
.arrow-wrap,
.button-wrap {
  text-align: center;
}
.buttons {
    color: #fff;
  display: inline-block;
  border: none;
  background-color:#A60000;
  font-family: PFCentroSlabProBold,sans-serif;
  font-size: 1.375em;
  padding: 12px 30px;
  border-bottom: #B97200 3px solid;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.buttons:hover {
    color: #fff;background-color: #074E03;

}
.buttons:active {
  border-bottom: #be4343 3px solid;
}
/*price side*/
.price-table{
    margin: 3em 0px;
}
